body{
	font-family:arial,sans-serif;
	font-size:13px;
	margin: 0px;
}

a {
	color:#0000EE
}      

.line{
	border-top:1px solid #C9D7F1;
	font-size:1px;     
	margin-top: 2px;
	margin-bottom: 10px;
}            

.layoutTop {
	height: 22px;
	padding-left: 10px;
	padding-right: 10px;
}   

#formsIndex a {  
	margin-top: 5px;
	display: block;
}